.Logincontainer__body {
  width: 40vh;
  margin: 4rem auto;
  background-color: rgb(224, 224, 224);
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}
.Logincontainer__body_brand {
  margin: 1rem auto;
  align-items: center;
  justify-content: center;
}
.Logincontainer__body_text {
  margin: 1rem auto;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
}
.Logincontainer__body_input {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
}
.Logincontainer__body_input_email {
  margin-bottom: 2rem;
}
.signup_button {
  background-color: black;
  color: aliceblue;
  margin: 1rem auto;
}
