.Usercontainer__body {
  width: 50%;
  margin: 4rem auto;
  background-color: rgb(224, 224, 224);
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}
.Usercontainer__body_brand {
  margin: 1rem auto;
  align-items: center;
  justify-content: center;
}
.Usercontainer__body_text {
  margin: 1rem auto;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
}
.Usercontainer__body_input {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 6rem;
}

.Usercontainer__body_input_item {
  margin: 3rem;
}

.signup_button {
  background-color: black;
  color: aliceblue;
  margin: 1rem auto;
}
